@using ChunChen_CRM.Model
@model CustomerDetailModel
@{
    ViewBag.Title = "客户信息";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

@Styles.Render("~/Css/_SingersSearch.css")
@Styles.Render("~/Css/CustomerDetail.css")

<div class="jumbotron" style="margin-bottom: 0px;">
    <table style="width: 100%">
        <tr>
            <td style="font-weight: bold; color: #000000; text-align: center;" class="auto-style1">客户信息</td>
        </tr>
        <tr>
            <td style="width: 100%">
                <table style="width: 940px; height: 138px;">
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">编 号：</td>
                        <td style="width: 300px; height: 26px;">@Model.CustomerNo</td>

                        <td style="width: 200px; height: 26px; text-align: center;">姓 名：</td>
                        <td style="width: 300px; height: 26px;">@Model.Name</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">性 别：</td>
                        <td style="width: 300px; height: 26px;">@Model.GenderString</td>

                        <td style="width: 200px; height: 26px; text-align: center;">录入时间：</td>
                        <td style="width: 300px; height: 26px;">@Model.CreateDate.ToString("D")</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">电 话：</td>
                        <td style="width: 300px; height: 26px;">
                            <input type="text" name="mobile" id="mobile" value="@Model.Mobile" placeholder="手机号" style="height: 35px;" />
                        </td>

                        <td style="width: 200px; height: 26px;">
                            <input type="button" id="updateMobile" onclick="updateMobile()" value="保存" style="width:300px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">联系地址:</td>
                        <td style="width: 300px; height: 26px;" colspan="3">
                            <input type="text" name="address" id="address" value="" placeholder="地址信息" style="height: 35px;" />
                        </td>

                        <td style="width: 200px; height: 26px;">
                            <input type="button" id="updateAddress" onclick="updateAddress()" value="保存" style="width:300px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">服务人员:</td>
                        <td style="width: 300px; height: 26px;">
                            <select id="waiter" style="height: 35px;">
                                <option value="@Model.WaiterId">@Model.WaiterName</option>
                                @foreach (var item in ViewBag.Selectlist)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                <option value="">--</option>
                            </select>
                        </td>

                        <td style="width: 200px; height: 26px;">
                            <input type="button" value="保 存" class="green-int" onclick="updateWaiter()" />
                        </td>
                    </tr>
                    <!--报表信息-->
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">成交总金额：</td>
                        <td style="width: 300px; height: 26px; color:red">@Model.SpendReport.Spend</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">成交单数：</td>
                        <td style="width: 300px; height: 26px; color:red">@Model.SpendReport.TotalOrder</td>

                        <td style="width: 200px; height: 26px; text-align: center;">毁单单数：</td>
                        <td style="width: 300px; height: 26px; color:blue">@Model.SpendReport.RegretOrder</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">本年成交额：</td>
                        <td style="width: 300px; height: 26px; color:red">@Model.SpendReport.YearSpend</td>

                        <td style="width: 200px; height: 26px; text-align: center;">上年成交额：</td>
                        <td style="width: 300px; height: 26px;">@Model.SpendReport.YearSpendOld</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 26px; text-align: center;">本月成交额：</td>
                        <td style="width: 300px; height: 26px; color:red">@Model.SpendReport.MonthSpend</td>

                        <td style="width: 200px; height: 26px; text-align: center;">上月成交额：</td>
                        <td style="width: 300px; height: 26px;">@Model.SpendReport.MonthSpendOld</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div>
        <ul class="time-axis">
            @foreach (var record in Model.Records)
            {
            <li class="time-axis-item">
                <div class="time-axis-date">@record.CreateDate.ToString("D")<span></span></div>
                <div class="time-axis-title">@record.EmployeeName : @record.Message</div>
                <p class="time-axis-achievement"></p>
            </li>
            }
</ul>
    </div>
</div>

